.balloons-container {

  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}
.balloon {
  height: 60px;
  width: 50px;
  border-radius: 75% 75% 70% 70%;
  position: absolute;
  bottom: 0;
  position: relative;
}

.balloon::before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #fdfd96;
  display: block;
  position:absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
 
}

.balloon:after {
  content: "▲";
  /* text-align: center; */
  /* display: block; */
  color: inherit;
  position:absolute;
  top: 95%;
  left: 50%;
  /* margin: auto; */
  transform: translateX(-50%);
  z-index: -1;
}

@keyframes float {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-200vh);
    opacity: 0;
  }
}
