body {
  background: rgb(243, 233, 176);
  padding-top: 90px;
display: flex;
flex-direction: column;
  overflow-x: hidden;
  /* position: relative; */
}

.line{
  margin-top: 6px;
  background-color: rgb(160, 194, 147);
  padding: 23px;
}

header {
  display: flex;
  /* flex-direction: row; */
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  background-color: rgb(210, 245, 181);
  font-variant: small-caps;
  overflow: hidden;
  margin: -40px;
  margin-top: -110px;
}

.container{
  display: grid;
  flex-direction: row;
  justify-content: space-between;
}

.fibie-right {
  width: 40vw;
  max-width: 300px;
  height: auto;
}

.fibie-left {
  width: 40vw;
  max-width: 300px;
  height: auto;
}

