body {
  background: rgb(213, 221, 239);
  padding-top: 50px;
display: flex;
flex-direction: column;
  overflow-x: hidden;
  /* position: relative; */
}

.line{
  margin-top: 10px;
  background-color: darkgray;
  padding: 10px;
}

header {
  display: flex;
  /* flex-direction: row; */
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  background-color: rgb(216, 238, 250);
  font-variant: small-caps;
  overflow: hidden;
  margin: -30px;
  margin-top: -110px;
}

.container{
  display: grid;
  flex-direction: row;
  justify-content: space-between;
}

.fibie-right {
  width: 30vw;
  max-width: 300px;
  height: auto;
}

.fibie-left {
  width: 30vw;
  max-width: 300px;
  height: auto;
}

#home a, li{
  display: flex;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  /* box-shadow: black; */
  cursor: pointer;
}

a:link, a:visited{
    background-color:azure;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
}