header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  margin-top: -50px;
  background-color: rgb(233, 205, 115);
  font-variant: small-caps;
  /* overflow: auto; */
}

.fibie-right {
  width: 20vw;
  max-width: 300px;
  height: auto;
}

.fibie-left {
  width: 20vw;
  max-width: 300px;
  height: auto;
}
